<div id="add_channel_modal" class="modal">
  <div class="modal-content">
    <div class="row">
      <%= form_with(model: Channel.new, local: true) do |c| %>
        <div class="row">
          <div class="col s12">
            <h4>Add a Channel</h4>
          </div>
          <div class="input-field col s12">
            <%= c.hidden_field(:team_id, value: @team.try(:id)) %>
            <%= c.text_field(:slug) %>
            <%= label_tag(:email, "Channel Name") %>
            <%= c.submit("Add Channel", class: "btn right") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
